# LIST
### List is an ordered sequence of items.
### We can have different data types under a list. E.g we can have integer, float and string items in a same list.

####  list creation

In [3]:
list1 = [] # Empty List

In [4]:
print(type(list1))

<class 'list'>

In [5]:
l2 = [10,30,60] # List of integers numbers

In [6]:
l3= [10.77,30.66,60.89] # List of float numbers

In [7]:
l4=  ['Supravat','Das' ] # List of strings

In [8]:
l5=['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists

In [9]:
l6=[100, 'Asif', 17.765] # List of mixed data types

In [10]:
l7= ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [11]:
len(l6)

3

### list indexing

In [12]:
l2[2] # Retreive 3rd element of the list

60

In [13]:
l4[0] # Retreive first element of the list

'Supravat'

In [14]:
l4[0][0] # Nested indexing - Access the first character of the first list element

'S'

In [15]:
l4[-1] # Last item of the list

'Das'

In [16]:
l5[-1] # Last item of the list

[150, 90]

In [17]:
mylist=['rudra','ravi','kishaan','suresh','masiure','supravat','takla','rani']

In [18]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['rudra', 'ravi', 'kishaan']

In [19]:
mylist[2:5]

['kishaan', 'suresh', 'masiure']

In [20]:
mylist[:3]# Return first three items

['rudra', 'ravi', 'kishaan']

In [21]:
mylist[:2] # Return first two items

['rudra', 'ravi']

In [22]:
mylist[-3:] # Return last three items

['supravat', 'takla', 'rani']

In [23]:
mylist[-2:] # Return last two items

['takla', 'rani']

In [24]:
mylist[-1] # Return last item of the list

'rani'

In [25]:
mylist[:] # Return whole list

['rudra', 'ravi', 'kishaan', 'suresh', 'masiure', 'supravat', 'takla', 'rani']

#### ADD,REMOVE AND CHANGE THE ITEMS

In [26]:
mylist

['rudra', 'ravi', 'kishaan', 'suresh', 'masiure', 'supravat', 'takla', 'rani']

In [27]:
mylist.append('teja')

In [28]:
mylist

['rudra',
 'ravi',
 'kishaan',
 'suresh',
 'masiure',
 'supravat',
 'takla',
 'rani',
 'teja']

In [29]:
mylist.insert(9,'gopal')
mylist

['rudra',
 'ravi',
 'kishaan',
 'suresh',
 'masiure',
 'supravat',
 'takla',
 'rani',
 'teja',
 'gopal']

In [30]:
mylist.insert(1,'krish')
mylist

['rudra',
 'krish',
 'ravi',
 'kishaan',
 'suresh',
 'masiure',
 'supravat',
 'takla',
 'rani',
 'teja',
 'gopal']

In [31]:
mylist.remove('krish')
mylist

['rudra',
 'ravi',
 'kishaan',
 'suresh',
 'masiure',
 'supravat',
 'takla',
 'rani',
 'teja',
 'gopal']

In [32]:
mylist.pop()  # Remove last item of the list

'gopal'

In [33]:
mylist.pop(8)

'teja'

In [34]:
del mylist[7]

In [35]:
mylist

['rudra', 'ravi', 'kishaan', 'suresh', 'masiure', 'supravat', 'takla']

In [36]:
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'suresh', 'masiure', 'supravat', 'takla']

In [37]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [38]:
del mylist

In [39]:
mylist

NameError: name 'mylist' is not defined

In [40]:
mylist=['rudra','ravi','kishaan','suresh','masiure','supravat','takla','rani']

In [41]:
mylist1=mylist

In [43]:
id(mylist),id(mylist1)# The address of both mylist & mylist1 will be the same

(1884166564288, 1884166564288)

In [44]:
mylist2=mylist.copy()

In [46]:
id(mylist2) # The address of mylist2 will be different from mylist

1884149967040

In [47]:
mylist[0]=1

In [48]:
mylist

[1, 'ravi', 'kishaan', 'suresh', 'masiure', 'supravat', 'takla', 'rani']

In [50]:
mylist1  # mylist1 will be also impacted as it is pointing to the same list

[1, 'ravi', 'kishaan', 'suresh', 'masiure', 'supravat', 'takla', 'rani']

In [52]:
mylist2 # Copy of list won't be impacted due to changes made on the original lis

['rudra', 'ravi', 'kishaan', 'suresh', 'masiure', 'supravat', 'takla', 'rani']

#### join list

In [53]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [54]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [55]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#### list membershil

In [56]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [57]:
'one'  in list1

True

In [58]:
'ten' in list1

False

In [59]:
if 'three' in list1:
    print('hello there i am 3')
else:
    print("three is absent from list1")

hello there i am 3

In [61]:
if 'eleven' in list1: 
    print('eleven is present in the list')
else:   
    print('eleven is not present in the list')

eleven is not present in the list

#### REVERSE & SORT LIST

In [62]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [63]:
list1.reverse()

In [64]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [66]:
list1 =  list1[::-1]
list1

['two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [67]:
mylist3 = [9,5,2,99,12,88,0]
mylist3.sort()
mylist3

[0, 2, 5, 9, 12, 88, 99]

In [68]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [70]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)  #Returns a new sorted list and doesn't change original

[11, 21, 33, 65, 88, 98]

In [71]:
mylist4

[88, 65, 33, 21, 11, 98]

#### loop through a list

In [72]:
list1

['two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [73]:
for i in list1:
    print(i)

two
three
four
five
six
seven
eight

In [74]:
for i in enumerate(list1):
    print(i)

(0, 'two')
(1, 'three')
(2, 'four')
(3, 'five')
(4, 'six')
(5, 'seven')
(6, 'eight')

#### count

In [76]:
list0 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [77]:
list0.count('one') # Number of times item "one" occurred in the list.

3

In [78]:
list0.count('two') # Occurence of item 'two' in the list

2

In [79]:
list0.count('four') #Occurence of item 'four' in the list

1

### All / Any
#### The all() method returns:
##### True - If all elements in a list are true
##### False - If any element in a list is false
#### The any() function returns True if any element in the list is True. If not, any() returns False.

In [80]:
l01=[10,20,40,0]

In [81]:
all(l01)

False

In [83]:
any(l01)

True

In [84]:
L2 = [1,2,3,4,True,False]

In [85]:
all(L2)

False

In [86]:
any(L2)

True

In [87]:
L3=['suresh','naresh','10']

In [88]:
all(L3)

True