##  CONDITIONAL STATEMENT(if,elif,if else,nestedif,multi if)

In [1]:
if True:
    print('suprevat')

suprevat

In [2]:
if False:
    print('false')

In [3]:
if True:
print('hi')

IndentationError: expected an indented block after 'if' statement on line 1 (3835776734.py, line 2)

In [4]:
if False:
    print('supravat')
print('das')

das

In [5]:
if True:
    print('Data Science')
print('bye for now')

Data Science
bye for now

In [6]:
if True:
    print('supravat')
else:
    print('happy')

supravat

In [7]:
if False:
    print('supravat')
else:
    print('haappy')

haappy

In [8]:
x=23
r=x%2
if r!=0:
    print(f"the given no {x} is an odd number")
else:
    print(f"the given no{x} is an even number")

the given no 23 is an odd number

In [9]:
x=23
y=24
if x%2!=0:
    print(f"the given no {x} is an odd number")
if y&2==0:
    print(f"the given no{y} is an even number")

the given no 23 is an odd number
the given no24 is an even number

In [10]:
x = 1

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

one

In [11]:
x=7
re=x%2
if re==0:
    print('even number')
else:
    print('odd number')

odd number

In [12]:
x = 7
r = x % 2
if r==0:
    print('it is an even no')
    if x<10:
        print(f"{x} is lesser than 10")
else:
    print('it is an odd number')

it is an odd number

In [13]:
x = 6
r = x % 2
if r==0:
    print('it is an even no')
    if x<10:
        print(f"{x} is lesser than 10")
else:
    print('it is an odd number')

it is an even no
6 is lesser than 10

In [14]:
x = 12
r = x % 2
if r==0:
    print('it is an even no')
    if x<10:
        print(f"{x} is lesser than 10")
else:
    print('it is an odd number')

it is an even no

In [15]:
x = 12
r = x % 2
if r==0:
    print('it is an even no')
    if x<10:
        print(f"{x} is lesser than 10")
    else:
        print(f"{x} is greter than 10")
else:
    print('it is an odd number')

it is an even no
12 is greter than 10

In [16]:
# elif it wont check till the block once you find the output it won't go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 
xn=4
if(xn == 1):
    print('one')
elif(xn == 2):
    print('Two')
elif(xn == 3):
    print('Three')
elif(xn == 4):
    print('four')

four

In [17]:
xn=1
if(xn == 1):
    print('one')
elif(xn == 2):
    print('Two')
elif(xn == 3):
    print('Three')
elif(xn == 4):
    print('four')

one

In [18]:

x = 7

if(x == 1):
    print('one')
    
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

else:
    print('number not found')

number not found

## LOOPS(while,for)

In [19]:
i = 1

while i<=5:
    print('suprvat') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('das')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

suprvat
das
das
das
das

suprvat
das
das
das
das

suprvat
das
das
das
das

suprvat
das
das
das
das

suprvat
das
das
das
das

In [20]:
i = 1

while i<=5:
    print('supravat',end=' ') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('das',end=' ')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

supravat das das das das
supravat das das das das
supravat das das das das
supravat das das das das
supravat das das das das

In [21]:
i = 1

while i<=5:
    print('supravat',end=' ')
    j = 1
    while j<=4:
        print('das',end=' ')
        j = j + 1
        
    i = i + 1

supravat das das das das supravat das das das das supravat das das das das supravat das das das das supravat das das das das

In [22]:
i= 1
while i<=4:
    j=0
    while j<=3:
        print(i*j,end=' ')
        j=j+1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [23]:
i= 1
while i<=4:
    j=0
    while j<=3:
        print(i*j,end=' ')
        j=j+1
    i+=1
    print()

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [24]:
name='supravat'
for i in enumerate(name):
    print(i)

(0, 's')
(1, 'u')
(2, 'p')
(3, 'r')
(4, 'a')
(5, 'v')
(6, 'a')
(7, 't')

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [26]:
for i  in range (0,5):
    print(i)

0
1
2
3
4

In [27]:
for i in range(0,101,10):
    if(i==0):
         print(1)
    else:
        print(i)

1
10
20
30
40
50
60
70
80
90
100

In [28]:
# print the value which is divisible by 5 

for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

In [30]:
# print the value which is divisible by 5 i dont want that value 
for i in range(1,51):
    
    if i%5!=0 :
        print(i,end=' ')

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49

# LETS DISCUSS ABOUT 3 KEYWORDS -- BREAK || CONTINUE || PASS
* BREAK STATEMNT - if you apply break statment in a loop then it will end the loop
# Pass = skips block of code( function, class etc)
# Continue= skips 1 step/iteration during loop 
# Break= jumps out of the function/loop

In [31]:
# write the code user ask chocklet from vendor machne write the basic code 
cho=int( input('my many chocolet do you want ?'))
i=1
while i<=cho:
    print('chocolet')
    i+=1

my many chocolet do you want ? 5

chocolet
chocolet
chocolet
chocolet
chocolet

- If the user says i need 10 choclet but vending machine dont have 10 choclate & machine has only 5    choclate so what you do on those scenario
- We have 3 choice now  (eiter stop the transaction by you or you can give only 5 choclate) & may be
   vendor machine display the result as we are out of the stock
- Now lets try in the code

In [33]:
# the machine has only 5 choclet 
machine=5
customer=int(input('how many chocolet do you want ?'))
i=1
while i<=customer:
    if i>machine:
        break
    print('here is your chocolet')
    i=i+1
print('bye for now')

how many chocolet do you want ? 7

here is your chocolet
here is your chocolet
here is your chocolet
here is your chocolet
here is your chocolet
bye for now

In [34]:
machine=5
customer=int(input('how many chocolet do you want ?'))
i=1
while i<=customer:
    if i>machine:
        print('out os stock')
        break
    print('here is your chocolet')
    i=i+1
print('bye for now')

how many chocolet do you want ? 7

here is your chocolet
here is your chocolet
here is your chocolet
here is your chocolet
here is your chocolet
out os stock
bye for now

In [36]:
for i in range(1,51):
    
    if i%3 == 0 or i%5 == 0:
        continue
    print(i ,end=' ')
print('end')

1 2 4 7 8 11 13 14 16 17 19 22 23 26 28 29 31 32 34 37 38 41 43 44 46 47 49 end

In [37]:
# i dont want to print the values which are even numbers that means print only odd numbers
for i in range(1,72):
    if i%2==0:
        continue
    else:
        print(i,end=' ')
print('the end')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 the end

### break statement

In [38]:
for i in range(1,11):
    if  i==8:
        break
    print(i)

1
2
3
4
5
6
7

### continue statement
* in continue the loop don't break but it exclude the mention nunber in the condition

In [39]:
for i in range(1,11):
    if  i==8:
        continue
    print(i)

1
2
3
4
5
6
7
9
10

In [40]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1334445784.py, line 1)

### pass statement

In [41]:
for i in range(1,11):
    pass

# for else
- For|Else in python
- In other language for else not supportable but in python it is supportable

eg- lets print the number from 1- 20 & we dont want print number which is divisible by 5

In [42]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

In [43]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

20

In [44]:
nums = [7,14,18,21,23,27,29] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
   print('Number Not Found') #every iteration it cheking condition

Number Not Found

In [45]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Number Not Found')

Number Not Found

In [52]:
import tkinter as tk
from tkinter import messagebox

# Function to be called when the button is clicked
def on_button_click():
    user_input = entry.get()
    messagebox.showinfo("Information", f"You entered: {user_input}")

# Create the main application window
root = tk.Tk()
root.title("Simple Tkinter App")

# Create a label widget
label = tk.Label(root, text="Enter something:")
label.pack(pady=10)

# Create a text entry widget
entry = tk.Entry(root, width=20)
entry.pack(pady=10)

# Create a button widget
button = tk.Button(root, text="Submit", command=on_button_click)
button.pack(pady=10)

# Run the application
root.mainloop()